@import '../../../scss/variables/variables.scss';
@import '../../../scss/templates/templates.scss';

.section_collect_data {
	display: flex;
	flex-direction: column;
	
	padding: 5.8rem 2rem 0;

	.collect_data_title {
		@extend %h2_common_styles;

		max-width: 65rem;

		margin-bottom: 2.5rem;
		padding-left: 8.4rem;
	}

	.collect_data_text {
		@extend %text_main_font_style;

		max-width: 30rem;

		margin-bottom: 5.7rem;
		padding-left: 8rem;
	}
	.collect_data__img_wrapper {
		.collect_data__img {
			width: 100%;
			height: auto;
		}
	}
}

@media screen and (max-width: $max_page_width) {
	.section_collect_data {
		padding: 4.2vw 1.38vw 0;
		.collect_data_title {
			padding-left: 5.83vw;
		}

		.collect_data_text {
			padding-left: 5.83vw;
		}
	}
}

@media screen and (max-width: $breakpoint_4) {
	.section_collect_data {
		align-items: center;

		padding: 5.8rem 0 0;

		text-align: center;

		.collect_data_title {
			margin-bottom: 3.25vw;
			padding-left: 0;

			line-height: 2.5rem;
		}

		.collect_data_text {
			margin-bottom: 7.42vw;
			padding-left: 0;
		}
	}
}
