@import '../../../scss/variables/variables.scss';
@import '../../../scss/templates/templates.scss';

.section_trusted_by {
	padding: 17.7rem 10.4rem 8.3rem;
	display: flex;
	flex-direction: column;

	.trusted_by__title {
		@extend %h2_common_styles;

		max-width: 51rem;

		margin-bottom: 2.5rem;
	}

	.trusted_by__top_text {
		@extend %text_main_font_style;

		max-width: 48.1rem;

		margin-bottom: 9.4rem;
	}

	.trusted_by__bottom_text {
		@extend %text__fz_18__black;

		margin-bottom: 3.6rem;
	}

	.trusted_by__logo_list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		width: 100%;

		.trusted_by__logo_list__item {
			padding: 1.8rem 6.9rem 0;

			.trusted_by__logo__icon {
				width: 12rem;
				height: 12rem;
			}
		}
	}
}

@media screen and (max-width: $max_page_width) {
	.section_trusted_by {
		padding: 12.29vw 7.22vw 5.76vw 7.22vw;

		.trusted_by__top_text {
			margin-bottom: 6.52vw;
		}

		.trusted_by__logo_list {
			.trusted_by__logo_list__item {
				padding: 1.8rem 4.69vw 0;
			}
		}
	}
}

@media screen and (max-width: $breakpoint_4) {
	.section_trusted_by {
		padding: 12.29vw 0 5.76vw;

		.trusted_by__logo_list {
			.trusted_by__logo_list__item {
				padding: 1.8rem 4.69vw 0;
			}
		}
	}
}

@media screen and (max-width: $breakpoint_2) {
	.section_trusted_by {
		.trusted_by__logo_list {
			justify-content: center;
		}
	}
}
