@import '../../../scss/variables/variables.scss';
@import '../../../scss/templates/templates.scss';

.section_trusted_by {
	padding: 17.7rem 10.4rem 8.3rem;
	display: flex;
	flex-direction: column;

	.trusted_by__title {
		@extend %h2_common_styles;

		max-width: 51rem;

		margin-bottom: 2.5rem;
	}

	.trusted_by__top_text {
		@extend %text_main_font_style;

		margin-bottom: 9.4rem;
	}

	.trusted_by__bottom_text {
		@extend %text__fz_18__black;

		margin-bottom: 3.6rem;
	}

	.trusted_by__logos_wrapper {
		display: flex;
		flex-direction: column;
		max-width: 1000px;
		width: 100%;
		margin: 0 auto;

		.trusted_by__logo_item {
			width: 12rem;
			height: 12rem;
		}

	}
}

// @media screen and (max-width: 1224px) {
// 	.forthSectionWrapper {
// 		.titleWrapper {
// 			p {
// 				margin: 0 0 25px 0;
// 			}
// 		}

// 		.pWrapper1 {
// 			p {
// 				margin: 0 0 94px 0;
// 			}
// 		}

// 		.pWrapper2 {
// 			p {
// 				margin: 0 0 36px 0;
// 			}
// 		}

// 		.iconWrapper .iconBlockWrapper .iconWrapper {
// 			padding: 0 3%;
// 		}
// 	}
// }

// @media screen and (max-width: 1024px) {
// 	.forthSectionWrapper {
// 		text-align: center;

// 		.pWrapper1 {
// 			p {
// 				color: $greyBlueColor;
// 				margin: 0 0 30px 0;
// 			}
// 		}

// 		.iconWrapper {
// 			flex-direction: row;

// 			.iconBlockWrapper {
// 				display: flex;
// 				flex-direction: column;
// 				margin-bottom: 15px;
// 				width: 100%;

// 				.iconWrapper {
// 					padding: 20px;
// 					min-width: 120px;
// 					max-width: 200px;

// 					img {
// 						width: 100%;
// 					}
// 				}
// 			}
// 		}
// 	}
// }

// @media screen and (max-width: 480px) {
// 	.forthSectionWrapper {
// 		padding: 0 25px 96px 25px;

// 		.titleWrapper {
// 			p {
// 				font-size: 25px;
// 			}
// 		}
// 	}
// }
