@import '../variables/variables.scss';

%text_main_font_style {
	font-size: 1.5rem;
	font-weight: 400;
	font-style: normal;
	line-height: 2.4rem;
	color: $greyBlue;

	@media screen and (max-width: $breakpoint_4) {
		& {
			font-size: 1.4rem;
		}
	}
}

%text__fz_18__black {
color: $black;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px;
}

%h2_common_styles {
	color: $black;
	font-size: 4.4rem;
	font-style: normal;
	font-weight: 400;
	line-height: 5rem;
	letter-spacing: 0.132rem;
	@media screen and (max-width: $breakpoint_4) {
		& {
			font-size: 2rem;
		}
	}
}

%button_common {
	display: flex;
	align-items: center;
	justify-content: center;

	white-space: nowrap;

	cursor: pointer;

	border-radius: 4px;

		@media screen and (max-width: $breakpoint_4) {
		& {
			padding: 0 2rem;
		}
	}
}
